ion-button {
    margin-top: 1rem;
}


ion-item {
    margin-top: 1rem;
    --background: #dcdcdc;
}

ion-checkbox {
    margin-top: 1rem;
    margin-left: 0.3rem;
}

#my-ion-item {
    margin-top: 0;
    --background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .my-buttons {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
    /* ion-label {
        margin-top: 1.7rem !important;
    } */
}

#nota-pago {
    margin-left: 1rem;
}