<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content [fullscreen]="true">

  <div class="half-circle"></div>
  <div class="my-container">
    <!-- <h2>Inicio de sesión</h2> -->
    <div id="logo">
      <ion-img src="../../../assets/Logo MP.png" alt="Logo Marco Peruana"/>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="ingresar()">
      <ion-item>
        <ion-input label="Usuario" labelPlacement="floating" type="text" formControlName="usuario" />
        <ion-icon slot="end" name="person" color="dark"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" [type]="passwordVisible ? 'text' : 'password'" formControlName="password" />
        <ion-button slot="end" fill="clear" (click)="passwordVisible = !passwordVisible">
          <ion-icon name="eye" color="dark"></ion-icon>
        </ion-button>
        <!-- <ion-icon slot="end" name="key" color="dark"></ion-icon> -->
      </ion-item>
      
      <small>¿Aún no tienes cuenta? <a href="mailto:developer@marco.com.pe" target="_blank">Contacta a soporte</a></small>

      <ion-button expand="full" color="dark" type="submit" id="submit-button">Ingresar</ion-button>
    </form>


  </div>
</ion-content>
